@import url("https://fonts.googleapis.com/css?family=Delius|Port+Lligat+Slab|Source+Sans+Pro");

.App {
  text-align: center;
}
#no_margin {
  margin: 0px;
}
/* .auth0-lock-header-logo {
  src: url(http://clipart-library.com/images/rTnrBLdGc.png) !important;
} */

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: initial;
}
#flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 6px;
}
/* NAV */

.Nav {
  height: 60px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 0px #7f7f7f;
}

a {
  text-decoration: none !important;
}
li {
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 20px !important;
  font-weight: bolder !important;
  color: #404040 !important;
}
.simpleMenu {
  font-family: "Source Sans Pro", sans-serif !important;
  margin-right: 20px;
}
.MuiButton-root-1 {
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 25px !important;
  font-weight: bold !important;
  color: #404040 !important;
}

#nav_avatar_mobile {
  align-self: center;
}
.Nav h2 {
  font-family: "Delius", cursive;
  font-size: 30px;
}
.Nav h3 {
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
  font-size: 18px;
}

.Nav a :hover {
  border-bottom: #7f7f7f;
  border-bottom-width: 2px !important;
  border-bottom-style: solid !important;
}
.Nav a {
  text-decoration: none;
  margin: 2vw;
  margin-bottom: 30px;
}

#title {
  color: #ff6d65;
}
#nav_buttons {
  display: none;
  margin-right: 25px;
}
.icon {
  display: flex;
  margin: 0px;
}
.MuiButtonBase-root-25 {
  justify-content: center;
  align-self: flex-end !important;
}
/* DASHBOARD */
.Dashboard {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
}
#post_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* POST */
.Post {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 100px;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 10px;
  padding: 4px;
  border: 10px;
  box-shadow: 0 6px 20px 0 #403d39;
  font-family: "Source Sans Pro", sans-serif;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Post .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: initial;
}

.Post h2 {
  margin: 1px;
  font-size: 20px;
}
.Post p {
  font-size: 15px;
  margin: 3px;
}

.post_head {
  height: 20vh;
  width: auto;
  object-fit: cover;
}

.post_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 6px;
}
.Post button {
  background-color: #ff6d65;
  font-size: 15px !important;
}

/* FORM */
.Form {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
}
.form_contents {
  align-self: center;
  margin: 20px;
  padding: 10px;
  border: 10px;

  height: 525px;
  width: 50vw;
}
.Form h1 {
  color: #404040;
  font-family: "Source Sans Pro", sans-serif;
}
/* Form input boxes */

.MuiInput-underline-21:after {
  border-bottom-color: #404040 !important;
}

label {
  color: #404040 !important;
  font-family: "Source Sans Pro", sans-serif !important;
}

.Form input {
  font-family: "Source Sans Pro", sans-serif !important;
  color: #404040;
}
.Form button {
  background-color: #ff6d65;
  color: #404040;
  font-family: "Source Sans Pro", sans-serif !important;
  text-decoration: none !important;
  /* font-weight: bolder; */
  font-size: 20px !important;
}
.MuiButton-contained-42:hover {
  background-color: #404040;
  color: #ff6d65;
}
.Form a {
  text-decoration: none !important;
}
/* FAVORITES */

.Favorites h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
}
/* CART */
.Cart {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
}
.Cart h1 {
  color: #404040;
  font-family: "Source Sans Pro", sans-serif;
}
.Cart button {
  background-color: #ff6d65;
  font-size: 15px !important;
}
.Cart h2 {
  margin: 5px;
}
.cart_buttons {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin-left: 25vw;
}
.cart_flex {
  align-self: center;
  margin: 20px;
  padding: 10px;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
}
.cart_container {
  align-self: center;
  margin: 20px;
  padding: 10px;
  border: 10px;
  box-shadow: 0 6px 20px 0 #403d39;
  width: 50vw;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
.Cart img {
  height: 35vh;
  width: auto;
  object-fit: cover;
  margin-right: 10px;
}
.cart_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
.cart_list p {
  font-size: 15px;
}

#cart_row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  justify-content: space-evenly;
}
/* LANDING */
.Landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero_banner {
  position: relative;
  text-align: center;
}
video {
  width: 100vw;
  height: auto;
}
.hero_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.landing_shelf {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shelf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50vw;
  margin: 20px 25%;
}
.shelf img {
  display: flex;
  height: 30vh;
  width: auto;
  object-fit: cover;
}
.footer_img {
  /* margin-top: 60px; */
  width: 100%;
  object-fit: cover;
  height: 40vh;
}
.footer {
  position: relative;
  text-align: center;
}
.footer_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* Media Queries */
@media (min-width: 856px) {
  .simpleMenu {
    display: none !important;
  }
  #nav_buttons {
    display: flex;
    justify-content: space-between;
  }
  .avatar {
    display: flex;
  }
  #nav_avatar_mobile {
    display: none;
  }
  #nav_avatar {
    align-self: center;
  }
  #cart_row {
    flex-direction: row;
  }
}
